<div md-dialog-content>
  <h1 md-dialog-title>Supprimer</h1>
  <p>
    Etes vous sûr de vouloir supprimer le
    <span *ngIf="element.type=='folder'">dossier</span>
    <span *ngIf="element.type=='file'">fichier</span>
    sélectionné ?
  </p>

  <div md-dialog-actions class="buttons">
    <button class="btn btn-primary" (click)="dialogRef.close(getPath())">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
    </button>
    <button class="btn btn-default" (click)="dialogRef.close(false)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler
    </button>
  </div>
  <br>
</div>

