<div md-dialog-content>
  <h1 md-dialog-title>Déplacer un fichier</h1>

  <table>
    <tr>
      <th>Chemin actuel</th>
      <td>{{element.path}}</td>
    </tr>
    <tr>
      <th>Nouveau chemin</th>
      <td><input type="text" [(ngModel)]="toPath"></td>
    </tr>
  </table>
  <br>
  <div md-dialog-actions class="buttons">
    <button class="btn btn-primary" (click)="dialogRef.close(getData())">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
    </button>
    <button class="btn btn-default" (click)="dialogRef.close(false)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler
    </button>
  </div>
  <br>
</div>
