.table-custom {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.table-custom tr, td, th {
  font-size: 16px;
  border: 2px solid #AAAAAA;
}

.image {
  width: 50px;
  display: block;
  margin-left: 10px;
}
