<div class="col-md-4">
  <div>
    <h1>Détails du fichier</h1>
  </div>
  <div *ngIf="elementSelected">
    <table class="table table-custom">
      <tr>
        <th class="col-md-3">Nom</th>
        <td>{{elementSelected.name}}</td>
      </tr>
      <tr *ngIf="elementSelected.type=='file'">
        <th>Taille</th>
        <td>{{elementSelected._size}} KB</td>
      </tr>
      <tr>
        <th>Propriétaire</th>
        <td>{{elementSelected._owner}}</td>
      </tr>
    </table>
  </div>
  <p *ngIf="!elementSelected">Sélectionnez un fichier pour voir les détails!</p>
</div>
