<div md-dialog-content>
  <h1 md-dialog-title>{{title}}</h1>

  <p>Voici le lien du fichier sélectionné :</p>
  <a [href]="sanitize(link)">{{link}}</a>
  <br>

  <div md-dialog-actions class="buttons">
    <button class="btn btn-default" (click)="dialogRef.close()">
      <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour
    </button>
  </div>
  <br><br>
</div>
