<div>
  <h1 md-dialog-title>Créer un fichier</h1>
  <p>Choisir un répertoire distant</p>
  <form>
    <label><input type="radio" [(ngModel)]="dest" name="gdrive" value="gdrive" [disabled]="!gdrive"> Google
      Drive</label><br>
    <label><input type="radio" [(ngModel)]="dest" name="dropbox" value="dropbox" [disabled]="!dropbox">
      Dropbox</label><br>
    <label><input type="radio" [(ngModel)]="dest" name="onedrive" value="onedrive" [disabled]="!onedrive">
      OneDrive</label>
  </form>
  <br>

  <div>Type ?</div>
  <form>
    <label><input type="radio" [(ngModel)]="type" name="c" value="folder" [disabled]="dest==undefined"> Dossier</label>
    <label><input type="radio" [(ngModel)]="type" name="d" value="file" [disabled]="dest==undefined"> Fichier</label>
  </form>

  <input type="text" [(ngModel)]="path" value="" [hidden]="type!='folder'">

  <div md-dialog-actions>
    <button class="btn btn-primary" (click)="dialogRef.close(getPath())">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
    </button>
    <button class="btn btn-default" (click)="dialogRef.close(false)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler
    </button>
    <br>
  </div>
</div>
