button {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  width: 30%;
  box-shadow: 0 3px #999;
}

button:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.connexion-button {
  background-color: #50af50; /* Green */
}

.connexion-button:hover {
  background-color: #3e8e41;
}

.connexion-button:active {
  background-color: #3e8e41;
}

.deconnexion-button {
  background-color: #e10000; /* Green */
}

.deconnexion-button:hover {
  background-color: #af0003;
}

.deconnexion-button:active {
  background-color: #af0003;
}
