<div *ngIf="isAvaible" class="spaceStorageInfoDiv">
  <p class="spaceStorageInfoLabel">Espace :</p>
  <p class="spaceStorageInfo">{{occupiedStorageSpaceOnRepository}}Gb/{{totalStorageSpaceOnRepository}}Gb</p>
</div>
