<button *ngIf="!isConnected"
        class="connexion-button"
        type="button"
        (click)="connectionMethod()"
        disabled>
  Connecter son compte {{repositoryName}}
</button>

<button *ngIf="isConnected"
        class="deconnexion-button"
        type="button"
        (click)="deconnectionMethod()">
  Deconnecter son compte {{repositoryName}}
</button>
