.selected{
  background-color: #EEEEEE;
  border: 5px solid #888888;
}

.image {
  width: 50px;
  display: block;
  margin: 0 auto;
  cursor: grab;
}

.content {
  padding-left: 30px;
  font-size: 18px;
}

.table-custom {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.table-custom th {
  font-size: 16px;
  color: #FAFAFA;
  background-color: #555555;
  padding-left: 20px;
}

.table-custom td {
  border: 2px solid #AAAAAA;
  vertical-align: middle;
}

.table-custom tbody tr:hover {
  background-color: #E0E0E0;
}

.vertical {
  display: flex;
  flex-direction: row;
}

.checkboxes {
  margin-top: 29px;
  padding-left: 50px;
}

.buttons {
  margin-top: 30px;
  margin-bottom: 5px;
}

.btn-custom {
  border-style: solid;
  border-width: 2px;
  border-color: #666666;
  background-color: #fafafa;
}
