<div class="col-md-2 checkboxes">
  <md-checkbox [(ngModel)]="gdrive" [checked]='gdrive' (change)="onChecking($event)"> Google Drive</md-checkbox>
  <br>
  <md-checkbox [(ngModel)]="dropbox" [checked]='dropbox' (change)="onChecking($event)"> Dropbox</md-checkbox>
  <br>
  <md-checkbox [(ngModel)]="onedrive" [checked]='onedrive' (change)="onChecking($event)"> OneDrive</md-checkbox>
</div>

<div class="col-md-6">
  <div class="vertical">
    <div class="buttons">
      <button class="btn btn-custom" (click)="addElement()" [disabled]="!gdrive && !dropbox">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button class="btn btn-custom" (click)="deleteElement()"
              [disabled]="!elementSelected || (!gdrive ? !dropbox : dropbox)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
      <button class="btn btn-custom" (click)="moveElement()"
              [disabled]="!elementSelected || (!gdrive ? !dropbox : dropbox)">
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
      </button>
      <button class="btn btn-custom" (click)="shareElement()"
              [disabled]="!elementSelected || (!gdrive ? !dropbox : dropbox)">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      </button>
      <button class="btn btn-custom" (click)="downloadElement()"
              [disabled]="!elementSelected || (!gdrive ? !dropbox : dropbox)">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <table class="table table-custom">
    <thead>
      <tr>
        <th class="col-md-1">TYPE</th>
        <th class="col-md-4">NAME</th>
      </tr>
    </thead>

    <tr>
      <td *ngIf='repositoryId != "/"'>
        <img class="image" src="/assets/img/parentFolder.png" (dblclick)="goBack()">
      </td>
      <td *ngIf='repositoryId != "/"' class="content">Dossier parent</td>
    </tr>

    <tr *ngFor="let item of listElements|repositoryId:_repositoryId" (click)="onSelect(item)"
        [class.selected]="item === elementSelected">
      <td>
        <img class="image" src="/assets/img/fileWithDropboxIcon.png"
             *ngIf="item.type == 'file' && item.source == 'dropbox'"/>
        <img class="image" src="/assets/img/fileWithGoogleDriveIcon.png"
             *ngIf="item.type == 'file' && item.source == 'gdrive'"/>
        <img class="image" src="/assets/img/folder.png" *ngIf="item.type == 'folder'"
             (dblclick)="goForward(item.path)"/>
      </td>
      <td class="content">{{item.name}}</td>
    </tr>
  </table>
</div>
