<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Mes Fichiers</h1>
  </div>

  <div class="panel-body">
    <element-list></element-list>
    <element-details></element-details>
  </div>
</div>
