<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/accueil">Cloud François</a>
    </div>
    <ul class="nav navbar-nav">
      <li class={{menuItemsClass[0]}}>
        <a routerLink={{menuItemsPath[0]}} routerLinkActive="active">Accueil</a>
      </li>
      <li class={{menuItemsClass[1]}}>
        <a routerLink={{menuItemsPath[1]}} routerLinkActive="active">Mes comptes</a>
      </li>
      <li class={{menuItemsClass[2]}}>
        <a routerLink={{menuItemsPath[2]}} routerLinkActive="active">Mes fichiers</a>
      </li>
    </ul>
  </div>
</nav>
