.panel-default {
  margin: 50px;
  background-color: #EEEEEE;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;

  cursor: default;
}

.panel-heading {
  margin: 0 auto;
  text-align: center;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1 {
  min-font-size: 1em;
  font-size: 2.5em;
  max-font-size: 3em;
}
