<main>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Accueil</h1>
    </div>

    <div class="panel-body">
      Ce site à pour objectif de vous permettre de <b>gérer de manière centralisé tous vos repertoires distants.</b>
    </div>
  </div>

</main>
