<main>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h1 class="panel-title">Mes comptes</h1>
    </div>

    <app-connection-div
      [img-src]="googleDriveIconSrc"
      [img-alt]="googleDriveIconAlt">
      <app-connection-button-to-google-drive></app-connection-button-to-google-drive>
      <app-space-storage-info-to-google-drive></app-space-storage-info-to-google-drive>
    </app-connection-div>

    <app-connection-div
      [img-src]="DropboxIconSrc"
      [img-alt]="DropboxIconAlt">
      <app-connection-button-to-dropbox></app-connection-button-to-dropbox>
      <app-space-storage-info-to-dropbox></app-space-storage-info-to-dropbox>
    </app-connection-div>

    <app-connection-div
      [img-src]="oneDriveIconSrc"
      [img-alt]="oneDriveIconAlt">
      <app-connection-button-to-one-drive></app-connection-button-to-one-drive>
      <app-space-storage-info-to-one-drive></app-space-storage-info-to-one-drive>
    </app-connection-div>

    <div class="spaceStorageInfoDiv">
      <p class="spaceStorageInfoLabel">Espace total :</p>
      <p class="spaceStorageInfo">{{sumOfOccupiedStorageSpace}}Gb/{{sumOfTotalStorageSpace}}Gb</p>
    </div>

  </div>

</main>
